/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Defaults
2.0 Timer
3.0 Modal
4.0 Footer
--------------------------------------------------------------*/

@import 'mixins';
%primaryfont { font-family: 'Lato', sans-serif; }
$primary: #2196F3;
$secondary: #64B5F6;

/*--------------------------------------------------------------
  1.0 Defaults
--------------------------------------------------------------*/
html, body {
  height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
  @extend %primaryfont;
  background-color: $primary;
  color: white;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: $primary;
  @include transition(color .2s ease-in-out);
  &:hover {
    color: darken($primary, 30%);
  }
}

*:focus {
  outline: none;
}

.parent {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  /* equal to footer height */
  margin-bottom: -75px;
  > .child {
    display: table-cell;
    vertical-align: middle;
  }
  &:after {
    content: "";
    display: block;
  }
}

.hidden {
  display: none;
}

/*--------------------------------------------------------------
  2.0 Timer
--------------------------------------------------------------*/

button#reset {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: $primary;
  color: $secondary;
  padding: 1.25em;
  font-size: 1.75em;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  @include transition(color .2s ease-in-out);
  &:hover {
    color: white;
    cursor: pointer;
  }
}

#clock {
  #time {
    font-size: 16em;
    font-weight: 100;
    @include bp-small {
      font-size: 9em;
    }
  }
}

#settings {
  margin: 0 auto;
  width: 500px;
  color: $secondary;
  position: relative;
  top: 2em;
  @include bp-small {
    width: 350px;
  }
  #break-controls, #session-controls {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 2px solid $secondary;
    border-radius: 50%;
    @include transition(all .2s ease-in-out);
    @include bp-small {
      height: 100px;
      width: 100px;
    }
    button {
      position: relative;
      top: 1.5em;
      color: $secondary !important;
      border: none;
      background-color: $primary;
      color: white;
      font-size: 1.5em;
      @include transition(color .2s ease-in-out);
      &:hover {
        cursor: pointer;
      }
      @include bp-small {
        top: 1.85em;
        font-size: 1em;
      }
    }
    #break-length, #session-length {
      position: relative;
      top: 1.25em;
      font-size: 2em;
      font-weight: 400;
      margin: 0 0.15em;
      @include bp-small {
        top: 1.5em;
        font-size: 1.5em;
        margin: 0;
      }
    }
    &:hover {
      color: white;
      border-color: white;
      button {
        color: white !important;
      }
    }
  }
  #startpause {
    display: inline-block;
  }
  #startpause button {
    height: 120px;
    width: 120px;
    border: 2px solid #a8d8ff;
    border-radius: 50%;
    font-size: 1.25em;
    text-transform: uppercase;
    color: $secondary !important;
    background-color: $primary;
    color: #a8d8ff !important;
    @include transition(all .2s ease-in-out);
    &:hover {
      color: white !important;
      border-color: white;
      cursor: pointer;
    }
    @include bp-small {
      width: 100px;
      height: 100px;
      top: 1.5em;
      font-size: 1em;
      margin: 0;
    }
  }
  #break-controls {
    float: left;
    h3 {
      font-size: 0.5em;
    }
  }
  #session-controls {
    float: right;
  }
}

/*--------------------------------------------------------------
  3.0 Modal
--------------------------------------------------------------*/
a#instructions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em;
  font-size: 2.5em;
  color: $secondary;
  @include transition(color .2s ease-in-out);
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color:#455A64;
  background: rgba(255, 255, 255, 0.5);
  z-index: 99999;
  opacity: 0;
  @include transition(opacity .2s ease-in-out);
  pointer-events: none;
  &:target {
    opacity:1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 40px 60px 60px 60px;
    background: #fff;
    @include bp-small {
      width: 250px;
    }
  }
  .close {
    background: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    font-weight: 100;
    padding: 0.4em 0.6em;
    text-align: center;
    text-decoration: none;
    @include transition(all .1s ease-in-out);
    &:hover {
      color: $primary;
    }
  }

}

/*--------------------------------------------------------------
  4.0 Footer
--------------------------------------------------------------*/
.site-footer, .parent:after {
  /* equal to parent bottom margin */
  height: 75px;
}
#notice {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  padding: 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
